.container{
   
    
    
}

body{
  background-color:#007065;
}
div{
  
  margin-left: 65px;
}

.item1 {
  z-index: 9999;
     width: 0; 
  height:0; 
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  
  border-bottom: 100px solid #FFEECF ;
  position: relative;
  top: 60px;
    
}
.item2 {
  z-index:5000;
   width: 0; 
  height:0; 
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  
  border-bottom: 100px solid #F5C181 ;
  position: relative;
  bottom:10px
  top:50px
  
}
.item3 {
     width: 0; 
  height:0; 
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  
  border-bottom: 100px solid #00A79D ;
   position: relative;
   bottom:60px
}